<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="me.glindholm.plugin.bracketeer2.processorsFactory">
      <BracketeerProcessorsFactory
            class="me.glindholm.plugin.bracketeer2.cdt.BracketeerProcessorsFactory"
            name="CDT"
            supportedBrackets="()[]&lt;&gt;{}">
         <Hint
               type="function">
         </Hint>
         <Hint
               type="type">
         </Hint>
         <Hint
               type="if">
         </Hint>
         <Hint
               type="switch">
         </Hint>
         <Hint
               type="break-case">
         </Hint>
         <Hint
               type="for">
         </Hint>
         <Hint
               type="break-for">
         </Hint>
         <Hint
               type="while">
         </Hint>
         <Hint
               type="break-while">
         </Hint>
         <Hint
               type="break-do">
         </Hint>
         <Hint
               type="preprocess">
         </Hint>
      </BracketeerProcessorsFactory>
   </extension> 

</plugin>
